.App {
  width: 100%;
  background-color: #1D1F21; }
  .App h2 {
    color: #FFFFFF; }
  .App .ListPreview {
    margin: 1em;
    border: 1px solid #ccc;
    width: 50%;
    margin: auto; }
    .App .ListPreview .song-name {
      border-bottom: 1px solid #ccc;
      padding: 0.25em 0.5em;
      font-weight: bold;
      border: none;
      color: #FFFFFF; }
    .App .ListPreview .artist-name {
      padding: 0.5em;
      border: none;
      color: #FFFFFF; }
    .App .ListPreview button {
      position: relative;
      left: 251px;
      margin: auto;
      background-color: #46C3D5; }
  .App footer {
    width: 100%;
    margin: auto;
    background-color: #1D1F21; }
